@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
button {
  cursor: pointer;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  outline: none ;
}
.home {
  max-width: 1536px;
  background-color: black;
  width: 100%;
  margin: 0;
  padding: 0;
  &_navbar {
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: space-between;
    padding: 0.5% 5% 0.5% 5%;
    &_time {
      &_logo {
        margin: 0 40px 0 0;
      }
    }
    &_list {
      display: flex;
      align-items: center;
      &_item {
        list-style: none;
        text-decoration: none;
        margin: 0 50px 0 0;
        color: #fff;
        font-family: Montserrat;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px;
        opacity: 0.75;
        &:last-child {
          margin: 0 auto;
          width: 111px;
          height: 50px;
          flex-shrink: 0;
          background-color: #a92a1d;
          cursor: pointer;
          border: none;
        }
      }
    }
  }
  &_start {
    background-image: url("@/assets/images/bcimage.png");
    background-color: black;
    padding: 250px 0 250px 299px;
    background-repeat: no-repeat;
    &_text {
      width: 450px;
      color: rgba(255, 255, 255, 0.75);
      font-family: Montserrat;
      font-size: 60px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
    &_gr {
      display: flex;
      align-items: center;
      margin: 38px 0 0 0;
    }
    &_btn {
      width: 150px;
      height: 50px;
      flex-shrink: 0;
      background-color: #a92a1d;
      color: #fff;
      font-family: Montserrat;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px; /* 144.444% */
      letter-spacing: -0.9px;
      border: none;
      margin: 0 20px 0 0;
    }
  }
  &_popular {
    text-align: center;
    padding: 155px 0 0 0;
    background-color: black;
    &_title {
      text-align: center;
      color: rgba(255, 255, 255, 0.75);
      font-family: Montserrat;
      font-size: 48px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      margin: 0 0 29px 0;
    }
    &_subtitle {
      margin: 0 auto;
      width: 790px;
      color: rgba(255, 255, 255, 0.75);
      text-align: center;
      font-family: Montserrat;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px; /* 144.444% */
      letter-spacing: -0.9px;
    }
    &_img {
      margin: 15px 0 113px 0;
    }
    &_worklist {
      display: flex;
      &_item {
        height: 600px;
        width: 20%;
        img {
          width: 100%;
        }
      }
      &_item:nth-child(2),
      &_item:nth-child(4) {
        padding: 75px 0 0 0;
      }
    }
    &_plan {
      display: flex;
      justify-content: space-between;
      padding: 110px 120px 0 150px;
      &_text {
        width: 360px;
        color: rgba(255, 255, 255, 0.75);
        font-family: Montserrat;
        font-size: 36px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
      &_sidetext {
        display: flex;
        width: 460px;
        color: rgba(255, 255, 255, 0.75);
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px; /* 155.556% */
        letter-spacing: -0.9px;
        &_line {
          width: 5px;
          height: 80%;
          background-color: red;
        }
      }
    }
  }
  &_training {
    padding: 170px 0 0 0;
    position: relative;
    &_intro {
      display: flex;
      align-items: center;
      &_img {
        width: 730px;
      }
      &_text {
        margin: 0 0 0 82px;
        &_title {
          color: rgba(255, 255, 255, 0.75);
          font-family: Montserrat;
          font-size: 36px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }
        &_subtitle {
          color: rgba(255, 255, 255, 0.75);
          font-family: Montserrat;
          font-size: 24px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          margin: 24px 0 12px 0;
        }
        &_subtext {
          width: 550px;
          color: rgba(255, 255, 255, 0.75);
          font-family: Montserrat;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 28px; /* 155.556% */
          letter-spacing: -0.9px;
        }
      }
    }
    &_fullimages {
      padding: 0 0 100px 0;
      position: relative;
      &_n2 {
        width: 470px;
        height: 350px;
        position: absolute;
        top: -160px;
        right: 0;
      }
      &_n3 {
        position: absolute;
        margin: 290px 48px 0 0;
        width: 470px;
        height: 470px;
      }
      &_n4 {
        position: absolute;
        width: 470px;
        top: 105px;
        left: 500px;
      }
      &_n5 {
        width: 470px;
        position: absolute;
        top: 290px;
        right: 0;
      }
      &_n6 {
        width: 470px;
        margin: 850px 0 0 0;
      }
      &_textbox {
        text-align: center;
        position: absolute;
        width: 390px;
        top: 625px;
        right: auto;
        left: 575px;
        &_text {
          color: rgba(255, 255, 255, 0.75);
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 28px; /* 155.556% */
          letter-spacing: -0.9px;
        }
      }
    }

    &_login {
      position: absolute;
      top: 2100px;
      left: 530px;
      text-align: center;
      margin: 0 auto;
      width: 620px;
      &_img {
        width: 800px;
        margin: -300px 0 0 365px;
      }
      &_title {
        color: rgba(255, 255, 255, 0.75);
        text-align: center;
        font-family: Montserrat;
        font-size: 36px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
      &_subtitle {
        color: rgba(255, 255, 255, 0.75);
        text-align: center;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px; /* 144.444% */
        letter-spacing: -0.9px;
        margin: 16px 0 38px 0;
      }
      &_email {
        width: 400px;
        height: 60px;
        background-color: transparent;
        color: #fff;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: -0.9px;
        margin: 0 0 16px 0;
      }
      &_submit {
        width: 400px;
        height: 60px;
        color: #000;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 26px;
        letter-spacing: -0.9px;
      }
    }
  }
  &_footer {
    padding: 300px 200px 100px 150px;
    &_group {
      display: flex;
      &_items {
        width: 25%;
        &_img {
        }
        &_subtext {
          color: rgba(255, 255, 255, 0.75);
          font-family: Poppins;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 36px; /* 200% */
          letter-spacing: -0.9px;
        }
        &_title {
          color: rgba(255, 255, 255, 0.75);
          font-family: Poppins;
          font-size: 24px;
          font-style: normal;
          font-weight: 500;
          line-height: 21px;
          margin: 0 0 45px 0;
        }
        &_list {
          &_items {
            color: rgba(255, 255, 255, 0.75);
            font-family: Poppins;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
            margin: 0 0 20px 0;
          }
        }
        &_limg {
          &_img {
            margin: 0 9px 0 0;
          }
        }
      }
    }
    &_copyright{
      font-size: 16px;
      color: #fff;
      text-align: center;
      margin: 100px 0 0 0;
    }
  }
}
